// The physical constraints and pin assignments
//
// Device: GW2A-18
// Part Number: GW2A-LV18PG256C8/I7

IO_LOC "led0" IOT54A;
// IO_LOC "LED[1]" 1;
// IO_LOC "LED[2]" 48;
// IO_LOC "LED[3]" 52;
// IO_LOC "LED[4]" 52;
// IO_LOC "LED[5]" 34;
